<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Injera Recipe</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./CSS/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>
<body >
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Recipe Book</a>
        </div>
        <div class="navbar-header">
            <a href="index.html">Home</a>
        </div>
        <div class="navbar-header">
            <a href="bara.html">Bara </a>
        </div>
        <div class="navbar-header">
            <a href="croquemadame.html">Croque Madame </a>
        </div>
        <div class="navbar-header">
            <a href="gulabjamun.html">Gulab Jamun</a>
        </div>
        <div class="navbar-header">
            <a href="injera.html">Injera</a>
        </div>
        <div class="navbar-header">
            <a href="jerkchicken.html">Jerk Chicken</a>
        </div>
        <div class="navbar-header">
            <a href="pumpkin_rice_noodles.html">Pumpkin rice noodles </a>
        </div>

    </div>
</nav>

<div class="container-fluid" >
    <!--<div id="bg">
        <img src="Images/rbg.jpg">
    </div>-->
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="bara.html">
                <img src="./Images/bara.jpg" class="rounded" alt="bara" >
                <div class="caption">
                    <p>Bara Recipe...</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="croquemadame.html">
                <img src="./Images/CroqueMadame.jpeg" class="rounded" alt="Croque Madame" >
                <div class="caption">
                    <p>Croque Madame Recipe...</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="gulabjamun.html">
                <img src="Images/Gulab_Jamun.jpg" class="rounded" alt="Gulab Jamun" >
                <div class="caption">
                    <p>Gulab Jamun Recipe...</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="injera.html">
                <img src="./Images/injera.jpg"class="rounded" alt="Injera" >
                <div class="caption">
                    <p>Injera Recipe...</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="jerkchicken.html">
                <img src="Images/jamaican-jerk-chicken.jpg" class="rounded" alt="Jerk Chicken" >
                <div class="caption">
                    <p>Jerk Chicken Recipe...</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="pumpkin_rice_noodles.html">
                <img src="./Images/PumpkinRiceNoodles.jpg" class="rounded" alt="Pumpkin Rice Noodles" >
                <div class="caption">
                    <p>Pumpkin Rice Noodles Recipe...</p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
 <!--
<div class="body-fluid">
    <div class="row">
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
        <div class="col-sm">
            <img src="Images/flag_Ethiopia.png"/>
        </div>
    </div>
</div>-->

</body>
</html>