<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Injera Recipe</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./CSS/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="index.html">Home</a>
            </div>
        </div>
    </nav>
    <div class="headContainer-fluid">
        <div class="row">
            <div class="col-sm-auto">
                <h1>Ethiopia</h1>
            </div>
            <div class="col-sm-auto">
                <img src="Images/flag_Ethiopia.png"/>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
<h1>Injera Recipe</h1>
<h2>Ingredients </h2>
<div class="bodyContainer-fluid">
    <div class="row">
        <div class="col-sm">
            <ul>
                <li>¾ cup teff flour (found in health food shops)</li>
                <li>3½ cups water</li>
                <li>pinch of salt</li>
            </ul>
        </div>
        <div class="col-sm">
            <img src="./Images/injera.jpg"/>
        </div>
    </div>
</div>

<h2>Directions </h2>
<p>Standing time 2 days</p>

<p>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.</p>

<p>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</p>

<p>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</p>

<p>Do not let it brown, and make sure that it is not too thick.</p>
</div>
</body>
</html>