<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Pumpkin Rice Noodle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./CSS/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="index.html">Home</a>
            </div>
        </div>
    </nav>
    <div class="headContainer-fluid">
        <div class="row">
            <div class="col-sm">
                <h1>Taiwan</h1>
            </div>
            <div class="col-sm">
                <img src="Images/flag_Taiwan.png"/>
            </div>
        </div>
    </div>
</header>
<h1>Pumpkin Rice Noodles Recipe</h1>
Serves 1 | Prep Time: 15 minutes | Cook Time: 5 minutes
<h2>Ingredients </h2>
<div class="bodyContainer-fluid">
    <div class="row">
        <div class="col-sm">
            <ul>
                <li>100g (3.5 oz) dried rice vermicelli</li>
                <li>2 tablespoons oil</li>
                <li>2 cloves garlic, minced</li>
                <li>100g (3.5 oz) ground pork</li>
                <li>100g (3.5 oz) pumpkin (or kabocha), diced</li>
                <li>½ cup water</li>
                <li>2 tablespoons soy sauce</li>
                <li>1 tablespoon sweet soy sauce</li>
                <li>3 dashes white pepper</li>

            </ul>
        </div>
        <div class="col-sm">
            <img src="./Images/PumpkinRiceNoodles.jpg"/>
        </div>
    </div>
</div>

<h2>Method: </h2>
<p>1. Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.</p>

<p>2. Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.</p>

<p>3. Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.</p>

<p>4. Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok.
    Continue to stir fry until the vermicelli is cooked through and soaked up the sauce.
    Dish out and serve immediately.</p>

</body>
</html>