.headContainer-fluid{
    width:75%;
}

.headContainer-fluid h1{
    font-family: 'Pacifico', cursive;
    width:100%;
}

.headContainer-fluid img{
    width:20%;
}
.bodyContainer-fluid img{
    width:100%;
}
h1,h2{
    font-style: oblique;
    font-family: 'Indie Flower', cursive;
}

p,li{
    font-family: 'Indie Flower', cursive;
    font-size:30px;
}
.col-sm img{
    /*border: 20px solid transparent;
    height: 200px;
    width: 200px;
    padding: 10px;
    opacity:0.5;*/
    box-shadow: 0 0 10px 10px #fff5b9;

}
.img-circle{

}

.navbar-inverse {
    background-color: #f8e2ab;
    border-color: #e6e735;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    line-height: 1.3em;


/*flex-start | flex-end | center | space-between | space-around | space-evenly;*/
}
.navbar-header{
    justify-content:space-between;
}
.container-fluid{
    float:none;
    margin:0 auto;
}
/*
.thumbnail img{
    width:50%;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    width:50%;
}*/
.thumbnail img {
    height:250px;
    width:100%;
}

body{
    background: url(../Images/rbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
.container-fluid{
    /*background: lemonchiffon;*/
  /*  background-image: url('./Images/rbg.jpg');
}*/
/*
#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#rbg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}*/

/*#bg {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/

    /*!* Preserve aspet ratio *!*/
    /*min-width: 50%;*/
    /*min-height: 50%;*/
/*}*/